<a href="https://colab.research.google.com/github/nomccc/linear_logistik/blob/main/010_linear_reggression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install  pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 42.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataset) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939416 sha256=c56f4f8fd43be1f7c865ca6c7d008bf8e3da9792f7f4328bb8d26e7f1b799fae
  Stored in directory: /root/.cache/pip/wheels/2b/83/5c/073c3755e8b7704e4677557b2055e61026c1a2342149214c13
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [3]:
#import dataset
from pydataset import data
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

initiated datasets repo at: /root/.pydataset/

In [4]:
#tarik data
titanic = data('titanic')
titanic.sample(10)

          class     age    sex survived
1199  3rd class  adults  women       no
649   3rd class  adults    man      yes
811   3rd class  adults    man       no
66    1st class  adults    man       no
691   3rd class  adults    man       no
47    1st class  adults    man      yes
752   3rd class  adults    man       no
20    1st class  adults    man      yes
938   3rd class  adults    man       no
1136  3rd class  adults  women      yes

In [5]:
titanic = pd.get_dummies(titanic, drop_first=True)
titanic.sample(10)

     class_2nd class  class_3rd class  age_child  sex_women  survived_yes
829                0                1          0          0             0
443                1                0          0          0             0
867                0                1          0          0             0
6                  0                0          0          0             1
947                0                1          0          0             0
801                0                1          0          0             0
978                0                1          0          0             0
78                 0                0          0          0             0
475                1                0          0          0             0
688                0                1          0          0             0

In [6]:
#test train split
x_train, x_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1), titanic['survived_yes'])

In [7]:
#train modelnya menggunakan training data
LogReg = LogisticRegression(solver='lbfgs')
LogReg.fit(x_train, y_train)

LogisticRegression()

In [8]:
#memprediksi jika class 1 child-age survived
LogReg.predict(np.array([[0,0,1,1]]))[0]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [9]:
#prediksi jika class-3 adult-age male survived
LogReg.predict(np.array([[0,1,0,0]]))[0]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0

In [10]:
#skoring modelnya
LogReg.score(x_test, y_test)

0.7811550151975684

In [11]:
#memahami skoringnya
prediksi = (LogReg.predict(x_test) > .5).astype(int)
np.sum(prediksi == y_test) / len(y_test)

0.7811550151975684